<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName"/>
<button
  class="btn btn-primary"
  (click)="onCreateServer()"
  [disabled]="!allowNewServer"
>
  Add Server
</button>
<p [innerText]="serverCreationStatus"></p>
<app-server></app-server>

<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username"/>
<button class="btn btn-primary" (click)="handleChange()" [disabled]="!username">Clear User</button>
<p>{{ username }}</p>
